@import "tailwindcss";

@theme {
  --color-box: #602f6b;
}
@keyframes gradientX {
  0%,
  100% {
    background-size: 200% 200%;
    background-position: left top;
  }
  50% {
    background-size: 200% 200%;
    background-position: right bottom;
  }
}

.animate-gradientX {
  animation: gradientX 10s ease-in infinite;
}
